 /*
Add styles or override variables from the theme here.
*/
$enable-rounded: true;

$display1-weight: 500 !default;
$display2-weight: 100 !default;


$primary: #4A86E8 !default;
$primary-light: white !default;
$secondary: #4A86E8 !default;
$light: rgb(255, 255,255) !default;
$grey:  #888 !default;


.navbar-brand {
    color: white !important;
}

.navbar-bg-onscroll {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

input[type="search"]::placeholder {
    color: $secondary !important;
}

.td-search-input {
    background: white !important;
    color: $secondary !important;
}

.td-home .td-navbar:not(.navbar-bg-onscroll) {
    background-color: white !important;

    .navbar-brand {
        display: none;
    }

    .nav-link {
        color: $primary !important;
        text-shadow: none;
    }
}

.control-bar {
    display: none;
}

#community a {
    color: $secondary !important;
}

#community {
    color: $secondary !important;
}

.showcase img {
    margin: 0 30px;
}
