

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$']],
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code' ],
    ignoreClass: "mermaid",
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>

{{ if $.Page.Params.title }}
<link href="{{"mermaid/mermaid.css" | absURL}}" rel="stylesheet" />
<script src="{{"mermaid/mermaid.js" | absURL}}"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
        flowchart: {
            curve: 'basis'
        }
    });
</script>
{{ end }}
